include ../textfield/textfield.pug
include ../link/link.pug
mixin dropdown({ textfield, items=[ ], displayButtons = false, deleteButton = {}, confirmButton = {}, thin = false } = { })
  div(class=`js-dropdown dropdown ${thin ? 'dropdown_thin' : ''}`)
    +textfield({ ...textfield, readonly: true })
    span.dropdown__arrow.js-dropdown__arrow
      +arrow({ direction: 'down' })
    ul.dropdown__menu.js-dropdown__menu.dropdown__menu_hidden
      each item in items
        li.js-dropdown__element.dropdown__element
          if item.concat
            strong.js-dropdown__item-name.dropdown__item-name( data-concat = 'true') #{item.name}
          else
            strong.js-dropdown__item-name.dropdown__item-name(data-name-forms = item.nameForms) #{item.name}
          span.js-dropdown__counter.dropdown__counter
            span.js-dropdown__tumbler.dropdown__tumbler.js-dropdown__tumbler_minus(data-min = item.min, tabindex = 0) -
            b.js-dropdown__number.dropdown__number(data-init = item.init) 
            span.js-dropdown__tumbler.dropdown__tumbler.js-dropdown__tumbler_plus(data-max = item.max, tabindex = 0) +
      if displayButtons
        .js-dropdown__buttons.dropdown__buttons
          .dropdown__button.js-dropdown__button_delete
            +link(deleteButton)
          .dropdown__button.js-dropdown__button_confirm
            +link(confirmButton)
