@import '../rate-stars/rate-stars.scss';
@import '../../assets/styles/font-faces/MaterialIcons.scss';
@import '../../assets/styles/font-faces/Montserrat.scss';
@import '../../assets/styles/variables';

.room-demo {
  max-width: 270px;
  margin-top: 20.5px;
  color: $main-color_lighter;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 17px 20px 0 rgba(34, 60, 80, 0.05);

  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 20;
    width: 44px;
    height: 44px;
    color: white;
    font-size: 24px;
    font-family: 'Material Icons', fantasy;
    line-height: 44px;
    text-align: center;
    transform: rotate(90deg) translateX(-50%);
    visibility: hidden;
    cursor: pointer;
    transition-duration: 0.1s;
    user-select: none;

    &_right {
      right: 0;
    }

    &:focus {
      visibility: visible;
      transition-duration: 0.1s;

      & ~ .room-demo__arrow {
        visibility: visible;
      }
    }
  }

  &__image-cont {
    position: relative;
    width: 100%;
    max-height: 151.3px;
    margin: 0;

    &:focus,
    &:hover {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 99.99%,
          rgba(255, 255, 255, 0) 100%
        );
        content: '';
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 99.99%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: matrix(-1, 0, 0, 1, 0, 0);
        content: '';
      }

      & .room-demo__arrow {
        visibility: visible;
        transition-duration: 0.1s;
      }
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    opacity: 1;
    transition-duration: 0.7s;

    &_disactive {
      display: none;
      opacity: 0;
      transition-duration: 0.7s;
    }
  }

  &__buttons {
    position: absolute;
    right: 36px;
    bottom: 12px;
    transform: translateX(50%);
  }

  &__button {
    display: inline-block;
    box-sizing: border-box;
    width: 7.5px;
    height: 7.5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.4s;

    &_disactive {
      background-color: transparent;
      transition-duration: 0.4s;
    }

    & + .room-demo__button {
      margin-left: 4px;
    }
  }

  &__main-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 16px 0 20px;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__price {
    display: inline-block;
    min-width: 20px;
    line-height: 20px;
  }

  &__font {
    &_color_black {
      color: $main-color_darkest;
    }

    &_color_purple {
      color: $highlight-color;
    }

    &_uppercase {
      text-transform: uppercase;
    }

    &_size_small {
      font-size: $size-small;
      line-height: $default-line;
    }

    &_size_middle {
      font-size: $size-middle;
      line-height: $default-line;
    }

    &_size_large {
      font-size: $size-larger;
      line-height: $size-largest;
    }
  }

  &__rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 24px;
    padding: 8px 20px 19px 21px;
  }

  &__stars {
    min-height: 24px;
  }
}
