include ../double-date-picker/double-date-picker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin room-search({ header = 'We will find rooms according to your wishes', datePicker = { }, counter = { }, buttonText = 'find a number' } = { })
  article.js-room-search.room-search
    h1.room-search__header #{header}
    form.room-search__form(name = 'room-search', action = '')
      .room-search__container.room-search__container_for_calendar
        +double-date-picker( datePicker )
      .room-search__container.room-search__container_for_input
        +dropdown( counter )
      .room-search__submit-button
        +button({ text: buttonText, isHighlight: true, withArrow: true, type: 'submit' })
