@import '../font-faces/OpenSans.scss';
@import '../font-faces/Montserrat.scss';
/* stylelint-disable no-descending-specificity */

//Стили написал к уже готовому плагину, так что БЭМа тут, понятно, нет

.ui-datepicker {
  z-index: 100;
  display: none;
  box-sizing: border-box;
  width: auto;
  padding: 19px;
  background-color: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  & .ui-widget-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0;
    color: #1f2041;
    font-weight: 700;
    font-size: 19px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border: none;

    & > * {
      display: inline-block;
      line-height: 24px;
      vertical-align: middle;

      &:hover {
        background-color: white;
        border: none;
      }
    }

    & .material-icons {
      top: 0;
      margin-top: 0;
      color: #bc9cff;
      line-height: 24px;
      cursor: pointer;
    }
  }

  .ui-datepicker-calendar {
    border-collapse: collapse;

    & thead {
      & th {
        padding: 0;

        & span {
          display: inline-block;
          width: 40px;
          height: 40px;
          padding: 0;
          color: rgba(31, 32, 65, 0.5);
          color: #bc9cff;
          font-size: 12px;
          font-family: 'Montserrat', Arial, Helvetica, sans-serif;
          line-height: 40px;
          text-align: center;
          background-color: white;
          border: none;
          border-radius: 50%;
        }
      }
    }

    & tbody {
      & td {
        padding: 0;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        opacity: 1;

        &.ui-state-disabled {
          & .ui-state-default {
            color: rgba(31, 32, 65, 0.5);
          }
        }

        &.ui-datepicker-other-month {
          & .ui-state-default {
            color: rgba(31, 32, 65, 0.25);
          }
        }

        & .ui-state-default {
          display: inline-block;
          width: 40px;
          height: 40px;
          color: rgba(31, 32, 65, 0.5);
          font-size: 12px;
          line-height: 40px;
          text-align: center;
          text-decoration: none;
          background-color: white;
          border: none;
          border-radius: 50%;
        }

        & .ui-state-highlight {
          color: white !important;
          font-weight: bold;
          background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        }

        &.selected {
          & .ui-state-active {
            background: linear-gradient(
              180deg,
              rgba(188, 156, 255, 0.25) 0%,
              rgba(139, 164, 249, 0.25) 100%
            );
            border-radius: 0;
          }
        }

        &.selected-start {
          position: relative;
          z-index: 10;

          & .ui-state-active {
            z-index: 3;
            color: white;
            font-weight: bold;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-radius: 50%;
            opacity: 1;
          }

          &:not(.selected-end) {
            &::before {
              position: absolute;
              top: 0;
              right: 0;
              z-index: -1;
              width: 50%;
              height: 100%;
              background: #bc9cff;
              opacity: 0.25;
              content: '';
            }
          }
        }

        &.selected-end {
          position: relative;
          z-index: 10;

          & .ui-state-active {
            z-index: 3;
            color: white;
            font-weight: bold;
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-radius: 50%;
            opacity: 1;
          }

          &:not(.selected-start) {
            &::after {
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              width: 50%;
              height: 100%;
              background: #bc9cff;
              opacity: 0.25;
              content: '';
            }
          }
        }
      }
    }
  }

  & .ui-datepicker-ButtonPanel {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    & .ui-datepicker-button_conf,
    .ui-datepicker-button_clear {
      margin: 0;
      padding: 0;
      color: #bc9cff;
      font-weight: 700;
      font-size: 12px;
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
