@import '../../assets/styles/mixin-font';

.diagram {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 350px;

  &__header {
    @include default-font(
      $main-color_darkest,
      $size-larger,
      $size-largest,
      700
    );

    margin: 0 0 20px;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
  }

  &__reviews-amount {
    @include default-font(
      $highlight-color,
      $size-largest,
      $size-largest + 5,
      700,
      none,
      uppercase
    );

    min-height: 30px;
  }

  &__subtitle {
    @include default-font(
      $highlight-color,
      $size-small,
      $size-small + 3,
      700,
      none,
      uppercase
    );
  }

  &__image {
    position: relative;
    width: 120px;
    height: 120px;
  }

  &__legend {
    display: inline-block;
    min-width: 200px;
    margin-left: 30px;
  }

  &__legend-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
  }

  &__legend-lettering {
    display: inline-block;
    margin: 0;
    margin-top: 6px;
    vertical-align: baseline;
    @include default-font($line: $default-line);
  }
}
