@font-face {
  font-weight: normal;
  font-family: 'Montserrat';
  font-style: normal;
  src: local('Montserrat'),
    url('/src/assets/styles/fonts/Montserrat/Montserrat-Regular.ttf')
      format('truetype'),
    url('/src/assets/styles/fonts/Montserrat/Montserrat-Regular.woff')
      format('woff'),
    url('/src/assets/styles/fonts/Montserrat/Montserrat-Regular.svg')
      format('svg');
}
@font-face {
  font-weight: bold;
  font-family: 'Montserrat';
  font-style: normal;
  src: local('Montserrat'),
    url('/src/assets/styles/fonts/Montserrat/Montserrat-Bold.ttf')
      format('truetype'),
    url('/src/assets/styles/fonts/Montserrat/Montserrat-Bold.svg') format('svg');
}
