@import '../../assets/styles/font-faces/FontAwesome.scss';
@import '../../assets/styles/variables';

.social {
  &__link {
    margin: 0;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: transparent;
    font-size: 24px;
    background: linear-gradient(
      180deg,
      $highlight-color,
      $highlight-color_skew
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
}
