@import '../../assets/styles/font-faces/MaterialIcons.scss';
@import '../../assets/styles/mixin-font';

.stickers {
  min-width: 280px;

  &__header {
    @include default-font(
      $main-color_darkest,
      $size-larger,
      $size-largest,
      700
    );

    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    padding: 23px 0 17px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    }
  }

  &__img {
    min-width: 48px;
    min-height: 48px;
    margin-right: 10px;
    color: transparent;
    font-size: 48px;
    font-family: 'Material Icons', fantasy;
    vertical-align: middle;
    background: linear-gradient(
      180deg,
      $highlight-color,
      $highlight-color_skew
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    @include default-font($line: $size-largest, $weight: 700);

    margin: 0;
  }

  &__subtitle {
    @include default-font($line: $size-largest);

    margin: 0;
  }
}
