include ../social/social.pug   
mixin card({ text = '', links = [ ] } = { }) 
  .card
    span.card__sign 
      span.card__logo
        include ../../assets/images/logo-icon-color.svg
      span.card__brand
        include ../../assets/images/logo-text.svg
    span.card__subscribe #{text}
  
    span.card__social
      +social(links)
