@import '../social/social.scss';
@import '../../assets/styles/mixin-font';

.cellar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 70px;
  background-color: white;

  &__text {
    @include default-font($line: $default-line - 1);
  }
}
