include ../social/social.pug
mixin cellar({ text='', links=[ ] } = { })
  .cellar 
    span.cellar__text-container
      p.cellar__text #{text}
    span.cellar__social-container
      +social({ icons: links })
