@import '../../assets/styles/mixin-font';
@import '../checkbox/checkbox.scss';

.checkboxes {
  max-width: 266px;
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;

  &__header {
    @include default-font(
      $main-color_darkest,
      $size-small,
      44px,
      700,
      none,
      uppercase
    );

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 44px;
    padding: 0;
    user-select: none;
  }

  &__arrow {
    display: inline-block;
    min-width: 44px;
    max-height: 44px;
    color: $main-color_lighter;
    line-height: 44px;
    text-align: center;
    text-transform: none;
    transform: rotateX(180deg);
  }

  &__item {
    margin-bottom: 10px;
  }

  &_shrinked {
    & .checkboxes__container {
      display: none;
    }

    & .checkboxes__arrow {
      transform: none;
    }
  }
}
