mixin liker({ amount = 0, checked = false } = { })
  span.liker
    label.liker__item
      input.liker__box(type='checkbox', checked = checked)
      span.liker__label
        span.liker__counter #{amount}
