mixin pictures-demo({ largePic = '', firSmallPic = '', secSmallPic = ''} = { })
  article.pictures-demo 
    .pictures-demo__large-picture-container
      img.pictures-demo__image(src = largePic, alt = 'picture №1')
    .pictures-demo__small-pictures-container
      span
        img.pictures-demo__image(src = firSmallPic, alt = 'picture №2')
      span
        img.pictures-demo__image(src = secSmallPic, alt = 'picture №3')
