.pictures-demo {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  max-height: 485px;
  user-select: none;

  &__large-picture-container {
    width: auto;
    overflow: hidden;
  }

  &__small-pictures-container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    overflow: hidden;
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }
}
