.header {
  width: 100%;
  padding: 20px 0;
  background-color: white;
  @media (max-width: 650px) {
    padding: 10px 10px;
  }
  &__content {
    max-width: 1440px;
    margin: auto;
  }
  &__sign {
    flex-shrink: 0;
  }
  &__logo {
    display: inline-block;
    max-height: 40px;
    vertical-align: middle;
  }
  &__brand {
    display: inline-block;
    max-height: 13px;
    margin-left: 12.5px;
    vertical-align: middle;
  }
}
