@import '../../assets/styles/mixin-font';
@import '../textfield/textfield.scss';

.footer {
  background-color: #fff;

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;
    padding: 90px 10px 80px;
  }

  &__heading {
    margin: 0 0 22px;

    @include default-font(
      $main-color_darkest,
      $size-small,
      $size-small + 3,
      700,
      none,
      uppercase
    );
  }

  &__block {
    margin: 14px 0 0;
    white-space: 0;

    &_width_wide {
      max-width: 260px;

      & .footer__heading {
        margin-bottom: 18px;
      }

      &:first-child {
        margin: 10px 0 0;
      }
    }

    &_width_slim {
      min-width: 160px;
    }
  }

  &__sign {
    flex-shrink: 0;
    margin-bottom: 17px;
  }

  &__logo {
    display: inline-block;
    max-height: 40px;
    margin-right: 12.5px;
    vertical-align: middle;
  }

  &__brand {
    display: inline-block;
    max-height: 13px;
    vertical-align: middle;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__list-element {
    min-height: 18px;
    margin-bottom: 20px;
    list-style-type: none;
  }

  &__link {
    @include default-font(
      $main-color_lighter,
      $size: $size-middle,
      $line: $size-middle + 3
    );

    text-align: left;
    text-decoration: none;

    &:hover {
      color: $main-color;
    }
  }

  &__text {
    display: inline-block;
    margin: 0 0 23px;
    vertical-align: baseline;
    @include default-font($color: $main-color, $line: $size-largest);
  }

  .textfield__arrow {
    .arrow {
      color: $highlight-color;
    }
  }
}
