include ../button/button.pug
include ../textfield/textfield.pug
mixin entry-form( {header = 'Enter', signinBtn, signupBtn, signupText = 'Don\'t have a Toxin account?', mailField, passwordField } = { } )    
  article.entry-form
    h1.entry-form__header #{header}
    form.entry-form__form(name = 'entry-form', action = '')
      .entry-form__input-container
        +textfield( mailField )
      .entry-form__input-container   
        +textfield( passwordField )
      .entry-form__button.entry-form__button_for_submit
        +button( signinBtn )
    .entry-form__registration
      p.entry-form__text #{signupText}
      span.entry-form__button.entry-form__button_for_regist
        +button( signupBtn )
