@import '../../assets/styles/mixin-font';

.textfield {
  position: relative;
  font-family: Montserrat, Arial, Helvetica, sans-serif;

  &__value {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding-left: 15px;
    border: 1px solid $main-color_lightest;
    border-radius: 4px;
    transition-duration: 0.7s;
    @include default-font($line: 44px);

    &::placeholder {
      @include default-font($color: $main-color_lightest, $line: 44px);

      opacity: 1;
      transition-duration: 0.7s;
    }

    &:hover,
    &:focus {
      color: $main-color;
      border: 1px solid $main-color_lighter;
      transition-duration: 0.7s;

      &::placeholder {
        color: $main-color_lighter;
        transition-duration: 0.7s;
      }
    }

    &_active {
      border-color: $main-color_lighter;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      outline: 0;
    }
  }

  &__title {
    @include default-font(
      $main-color_darkest,
      $size-small,
      $size-small + 2.5,
      700,
      none,
      uppercase
    );

    margin: 0 0 5.5px;
  }

  &__describe {
    @include default-font(
      $main-color_lighter,
      $size-small,
      $size-small + 3,
      400,
      none,
      uppercase
    );

    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }

  &__arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    min-width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }
  }
}
