@import '../../assets/styles/font-faces/MaterialIcons.scss';
@import '../../assets/styles/mixin-font';

.tumblers {
  &__header {
    @include default-font(
      $main-color_darkest,
      $size-small,
      $size-small + 3,
      700,
      none,
      uppercase
    );

    margin: 0;
    margin-bottom: 15px;
  }

  &__label {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 40px;
    min-height: 20px;
    margin-right: 10px;
    line-height: 18px;
    vertical-align: top;
    border: 1px solid $main-color_lightest;
    border-radius: 25% / 50%;
    cursor: pointer;
    transition-duration: 0.5s;
    user-select: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      color: $main-color_lightest;
      font-size: 18px;
      font-family: 'Material Icons', fantasy;
      transition-duration: 0.5s;
      content: 'fiber_manual_record';
    }
  }

  &__checkbox {
    display: none;

    &:checked {
      & + .tumblers__label {
        border: 1px solid $highlight-color;
        transition-duration: 0.5s;

        &::before {
          left: 22px;
          color: $highlight-color;
          background: linear-gradient(
            180deg,
            $highlight-color,
            $highlight-color_skew
          );
          -webkit-background-clip: text;
          transition-duration: 0.5s;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  &__item {
    display: block;
    min-height: 24px;
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    user-select: none;
    @include default-font();
  }
}
