@import '../../assets/styles/mixin-font';

.rate-stars {
  display: inline-block;
  vertical-align: bottom;

  & + .rate-stars {
    margin-left: 20px;
  }

  &__head {
    @include default-font(
      $main-color_darkest,
      $size-small,
      $size-small + 3,
      700,
      none,
      uppercase
    );

    margin: 0;
    margin-bottom: 15px;
  }

  &__star {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    color: transparent;
    font-size: 24px;
    font-family: 'Material Icons', fantasy;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(
      180deg,
      $highlight-color,
      $highlight-color_skew
    );
    -webkit-background-clip: text;
    background-clip: text;

    &_outlined {
      & .rate-stars__star_colorized {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
      }
    }
  }
}
