mixin rate-stars({ label = '', complete = 0, share = 0} = { })
  - const MAX_RATE = 5
  - const added = 5 - (complete + Math.ceil(share) )
  .rate-stars
    if descr
      h3.rate-stars__head #{label}
    .rate-stars__container
      - for (let x = 0; x < complete; x++)
        span.rate-stars__star.rate-stars__star_colorized star
      
      if(share)
        - const pers = (share*100)
        span.rate-stars__star.rate-stars__star_outlined star_outline
          span.rate-stars__star.rate-stars__star_colorized(style=`width: ${pers}%`) star

      - for (let y = 0; y < added; y++)
        span.rate-stars__star.rate-stars__star_outlined star_outline
