@import './variables';
@import './font-faces/Montserrat.scss';

@mixin default-font(
  $color: $main-color,
  $size: $size-middle,
  $line: $default-line,
  $weight: 400,
  $decor: none,
  $transform: none
) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: $line;
  text-transform: $transform;
  text-decoration: $decor;
}
