include ../textfield/textfield.pug
mixin double-date-picker({ initArrive = '', initDeparture = '' , textfields = [ { }, { } ] } = { })
  .js-double-date-picker.double-date-picker
    .double-date-picker__container.js-double-date-picker__container.double-date-picker__container_for_first.js-double-date-picker__container_for_first(data-init = initArrive)
      +textfield({ ...textfields[0], readonly: true })
      span.double-date-picker__arrow.js-double-date-picker__arrow
        +arrow({ direction: 'down' })
    .double-date-picker__container.js-double-date-picker__container.double-date-picker__container_for_second.js-double-date-picker__container_for_second(data-init = initDeparture)
      +textfield({ ...textfields[1], readonly: true })
      span.double-date-picker__arrow.js-double-date-picker__arrow
        +arrow({ direction: 'down' })
