@import '../../assets/styles/calendar/calendar.scss';
@import '../../assets/styles/variables';
@import '../textfield/textfield.scss';

.double-date-picker {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
  color: $main-color_lighter;

  &__container {
    position: relative;
    display: inline-block;
    max-width: 150px;

    &_for_second {
      margin-left: 20px;
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    min-width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }
  }

  .textfield__value {
    &::placeholder {
      color: $main-color;
    }
  }
}
