mixin radios({ label =  '', name = '', radios = [ ] } = { })
  .radios
    if label
      .radios__header #{label}
    each radio in radios
      - let {title, checked, value} = radio
      label.radios__radio-container
        input.radios__checkbox(name = `${name}`, value = `${value}`, type = 'radio', checked = checked)
        span.radios__title(tabindex = 0) #{title}
