@import '../date-masked-textfield/date-masked-textfield.scss';
@import '../textfield/textfield.scss';
@import '../tumblers/tumblers.scss';
@import '../radios/radios.scss';
@import '../button/button.scss';
@import '../../assets/styles/mixin-font';

.registration {
  display: inline-block;
  padding: 39px 29px 29px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__header {
    @include default-font(
      $main-color_darkest,
      $size-largest,
      $size-largest + 6,
      700
    );

    margin: 0;
    margin-bottom: 20px;
  }

  &__form {
    min-width: 320px;
    margin-bottom: 28px;
  }

  &__data-name {
    margin-bottom: 10px;
  }

  &__data-surname {
    margin-bottom: 10px;
  }

  &__data-sex {
    margin: 0.5px 0 23.5px;
  }

  &__data-birthday {
    margin-bottom: 21px;
  }

  &__data-email {
    margin-bottom: 10px;
  }

  &__data-password {
    margin-bottom: 10px;
  }

  &__data-offer {
    margin-bottom: 20px;
  }

  &__button {
    min-width: 99px;
  }

  &__text {
    @include default-font($color: $main-color_darkest);

    text-align: center;
  }

  &__entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 380px) {
    padding: 40px 10px 30px;
  }
  @media (max-width: 340px) {
    padding: 40px 0 30px;
  }
}
